h1{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-size: 40px
 
}

/* body{
    background: url("https://cdn.glitch.com/12d39199-f11a-4bd4-a95c-c6dd3190ebdb%2Fblackpower.jpg?1532706087239");
    background-size: cover
} */

